<!DOCTYPE html>
<html lang="it">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inserimento Struttura</title>
    <link rel="stylesheet" href="../../public/stylesheets/css/admin/inserimentoStruttura/main.css">
	<link rel="stylesheet" type="text/css" href="../../public/stylesheets/css/admin/inserimentoStruttura/button.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" href="../../public/stylesheets/css/admin/sb-admin-2.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
</head>

<script>
	function CheckTipologia(tipo){
		console.log(tipo);
		if(tipo == 1){
			$('#tassa').prop("disabled",true);
			$('#tassa').val(0);
      document.getElementById("price").innerHTML = "Prezzo a notte";
		}
		else{
			$('#tassa').prop("disabled", false);
      document.getElementById("price").innerHTML = "Prezzo a persona";
		}
	}
</script>

<body id="page-top" onload="CheckTipologia(1);">
  <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/indexProprietario">
			<div class="sidebar-brand-icon rotate-n-15">
			  <i class="fas fa-cog"></i>
			</div>
			<div class="sidebar-brand-text mx-3">Benvenuto</div>
		  </a>
		  <!-- Divider -->
		  <hr class="sidebar-divider my-0">

		  <!-- Nav Item - Dashboard -->
		  <li class="nav-item">
			<a class="nav-link" href="/indexProprietario">
			  <i class="far fa-address-book"></i>
			  <span>Home</span></a>
		  </li>

		  <!-- Divider -->
		  <hr class="sidebar-divider">

		  <!-- Heading -->
		  <div class="sidebar-heading">
			Strumenti
		  </div>
		  <li class="nav-item active">
			<a class="nav-link" href="/inserimentoStruttura" method="GET">
			  <i class="fas fa-angle-right"></i>
			  <span>Inserimento Struttura</span>
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/selezioneModificaStruttura" method="GET">
			  <i class="fas fa-hammer"></i>
			  <span>Modifica Struttura</span>
			</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/gestioneRichieste" method="GET">
			  <i class="far fa-comments"></i>
			  <span>Gestione Richieste</span>
			</a>
		  </li>
		  <!-- Divider -->
		  <hr class="sidebar-divider">

		  <!-- Heading -->
		  <div class="sidebar-heading">
			Servizi Esterni
		  </div>
		  <!-- Nav Item - Charts -->
		  <li class="nav-item">
			<a class="nav-link" href="/datiOspite" method="GET">
			  <i class="far fa-address-card"></i>
			  <span>Comunicazione Ospiti</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="/rendicontoTrimestrale" method="GET">
			  <i class="fas fa-fw fa-table"></i>
			  <span>Rendiconto Trimestrale</span></a>
		  </li>
      <hr class="sidebar-divider d-none d-md-block">
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>

    <div id="content-wrapper" class="d-flex flex-column">
        <%- include('../../script/NavbarProp.ejs') %>

				<form class="f-ins" href='/inserimentoStruttura' method='POST' enctype="multipart/form-data">
					<div>
						<div>
							<div class="section over-hide z-bigger">
								<label class="for-checkbox" for="general"></label>
								<div class="section over-hide z-bigger">
									<div class="container pb-5">
										<div class="row justify-content-center pb-5">
											<div class="col-12 pb-5">
												<input class="checkbox-tools" type="radio" name="tipologia" value="Casa Vacanza" id="tool-1" onclick="CheckTipologia(1);" checked>
												<label class="for-checkbox-tools" for="tool-1">
													Casa Vacanza
												</label><!--
												--><input class="checkbox-tools" type="radio" name="tipologia" value="B&B" id="tool-2" onclick="CheckTipologia(2);">
												<label class="for-checkbox-tools" for="tool-2">
													<br>B&B
												</label>
											</div>
											<div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Il nome della struttura è richiesto e non può superare i 20 caratteri">
												<span class="label-input100">Nome Struttura</span>
												<input class="input100" type="text" name="nome_struttura" maxlength="20" placeholder="Inserisci il nome della tua struttura " required>
												<span class="focus-input100"></span>
											</div>
											<div class="wrap-input100 rs1-wrap-input100 " >
												<table class="camere-ins">
													<tr>
														<th class="th"> Indirizzo </th>
														<th class="th"> civico </th>
														<th class="th"> comune </th>
														<th class="th"> cap </th>
													</tr>
													<tr>
														<td>  <input class="input100" type="text" name="indirizzo"  placeholder="via..." required>
															<span class="focus-input100"></span>
														</td>
														<td>  <input class="input100" type="number" name="civico"  placeholder="" required>
															<span class="focus-input100"></span> </td>
														<td>  <input class="input100" type="text" name="comune"  placeholder="" required>
															<span class="focus-input100"></span> </td>
															<td>  <input class="input100" type="number" name="cap"  placeholder="" required>
																<span class="focus-input100"></span> </td>
													</tr>
												</table>
											</div>

											<div class="wrap-input100 rs1-wrap-input100 " >
												<table class="camere-ins">
													<tr>
														<th class="th" id="price"> Prezzo a notte</th>
														<th class="th"> Distanza dal centro</th>
														<th class="th"> Tassa di Soggiorno</th>
														<th class="th"> Telefono</th>
													</tr>
													<tr>
														<td><input class="input100" type="number" name="prezzo" min='1' placeholder="€ 0" required>
															<span class="focus-input100"></span>  </td>
														<td> <input class="input100" type="number" name="distanza" min='1' placeholder="Km 0" required>
															<span class="focus-input100"></span>  </td>
														<td> <input class="input100" type="number" id="tassa" name="tassa" min='0' placeholder="€ 0" required>
															<span class="focus-input100"></span>  </td>
														<td> <input class="input100" type="number" name="telefono" min='1' placeholder="" required>
															<span class="focus-input100"></span>  </td>
													</tr>
													<tr>
														<td> <i class="fas fa-coins"></i> </td>
														<td> <i class="fas fa-car"></i></td>
														<td><i class="fas fa-hotel"></i></td>
														<td><i class="fas fa-phone"></i></td>
													</tr>
												</table>
											</div>
											<div class="wrap-input100 validate-input" data-validate = "La descrizione della struttura è richiesta">
												<span class="label-input100">Descrizione Struttura</span>
												<textarea class="input100" name="descrizione" placeholder="Scrivi una breve descrizione della tua struttura" required></textarea>
												<span class="focus-input100"></span>
											</div>


											<div class="wrap-input100 " >
												<table class="camere-ins">
													<tr>
														<th class="th">Camera singola </th>
														<th class="th">Camera doppia </th>
														<th class="th">Camera tripla </th>
														<th class="th">Camera quadrupla </th>
													</tr>
													<tr>
														<td>
															<input class="input100" type="number" name="singola" min='1' placeholder="0" required>
															<span class="focus-input100"></span>
														</td>
														<td>
															<input class="input100" type="number" name="doppia" min='0' placeholder="0" required>
															<span class="focus-input100"></span>
														</td>
														<td>
															<input class="input100" type="number" name="tripla" min='0' placeholder="0" required>
															<span class="focus-input100"></span>
														</td>
														<td>
															<input class="input100" type="number" name="quadrupla" min='0' placeholder="0" required>
															<span class="focus-input100"></span>
														</td>
													</tr>
													<tr>
														<td>
															<i class="fas fa-bed"></i>
														</td>
														<td>
															<i class="fas fa-bed"></i>
															<i class="fas fa-bed"></i>
														</td>
														<td>
															<i class="fas fa-bed"></i>
															<i class="fas fa-bed"></i>
															<i class="fas fa-bed"></i>
														</td>
														<td>
															<i class="fas fa-bed"></i>
															<i class="fas fa-bed"></i>
															<i class="fas fa-bed"></i>
															<i class="fas fa-bed"></i>
														</td>
													</tr>
												</table>
											</div>
											<div class="wrap-input100 " >
												<div class="col-12 pb-5">
													<input class="checkbox-booking" type="checkbox" name="booking1" id="booking-1">
													<label class="for-checkbox-booking" for="booking-1">
														</i><span class="text">Colazione</span> <i class="fas fa-coffee"></i>
													</label>
													<input class="checkbox-booking" type="checkbox" name="booking2" id="booking-2">
													<label class="for-checkbox-booking" for="booking-2">
														<span class="text">wifi</span><i class="fas fa-wifi"></i>
													</label>
													<input class="checkbox-booking" type="checkbox" name="booking3" id="booking-3">
													<label class="for-checkbox-booking" for="booking-3">
														<span class="text">piscina</span><i class="fas fa-swimming-pool"></i>
													</label>
													<input class="checkbox-booking" type="checkbox" name="booking4" id="booking-4">
													<label class="for-checkbox-booking" for="booking-4">
														<span class="text">giardino</span><i class="fab fa-pagelines"></i>
													</label>
													<input class="checkbox-booking" type="checkbox" name="booking5" id="booking-5">
													<label class="for-checkbox-booking" for="booking-5">
														<span class="text">parcheggio</span><i class="fas fa-parking"></i>
													</label>
													<input class="checkbox-booking" type="checkbox" name="booking6" id="booking-6">
														<label class="for-checkbox-booking" for="booking-6">
															<span class="text">tv</span><i class="fas fa-tv"></i>
														</label>
														<input class="checkbox-booking" type="checkbox" name="booking7" id="booking-7">
													<label class="for-checkbox-booking" for="booking-7">
														<span class="text">libri</span> <i class="fas fa-book"></i><i class="fas fa-book"></i>
													</label>
													<input class="checkbox-booking" type="checkbox" name="booking8" id="booking-8">
													<label class="for-checkbox-booking" for="booking-8">
														<span class="text">palestra</span><i class="fas fa-dumbbell"></i>
													</label>
													<input class="checkbox-booking" type="checkbox" name="booking9" id="booking-9">
													<label class="for-checkbox-booking" for="booking-9">
														<span class="text">Animali Ammessi</span><i class="fas fa-paw"></i>
													</label>
													<input class="checkbox-booking" type="checkbox" name="booking10" id="booking-10">
													<label class="for-checkbox-booking" for="booking-10">
														<span class="text">Cucina</span><i class="fas fa-utensils"></i>

													</label>
													<input class="checkbox-booking" type="checkbox" name="booking11" id="booking-11">
													<label class="for-checkbox-booking" for="booking-11">
														<span class="text">Fumare</span><i class="fas fa-smoking-ban"></i>
													</label>
													<input class="checkbox-booking" type="checkbox" name="booking12" id="booking-12">
													<label class="for-checkbox-booking" for="booking-12">
														<span class="text">Bagno Privato</span><i class="fas fa-shower"></i>

													</label>
													<input class="checkbox-booking" type="checkbox" name="booking13" id="booking-13">
													<label class="for-checkbox-booking" for="booking-13">
														<span class="text">Aria condizionata</span><i class="fas fa-wind"></i>

													</label>
												</div>
											</div>
											<div class="wrap-input100 " >
												<div class="col-12 pb-5" >
														<div class="button_outer">
															<div class="btn_upload">
																<input type="file" id="foto" name="foto" multiple onchange="checkFoto()" required>
																Carica Foto
															<div class="processing_bar"></div>
															<div class="success_box"></div>
														</div>
													</div>
													<div class="error_msg"></div><div id="numImg"></div>
												</div>
											</div>
											<div class="container-contact100-form-btn">
												<button class="contact100-form-btn" id="ok">
													<span>
														Conferma <i class='fas fa-caret-right'></i>
													</span>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
            	</div>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Team Maag 2020</span>
          </div>
        </div>
    </footer>
</div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <%- include('../../script/InserimentoFoto.ejs') %>
  <%- include('../../script/LogoutProp.ejs') %>
  <%- include('../../script/Alert.ejs') %>
  <%- include('../../script/ProprietarioJS.ejs') %>
  <script src="../../public/js/index/jquery/jquery-3.2.1.min.js"></script>
  <script src="../../public/js/index/bootstrap.min.js"></script>
  <script src="../../public/js/index/js/index/main.js"></script>
  <script defer src="../../js/icon/all.js"></script>

  <script>
		function checkFoto(){
			  var numImages = $("#foto")[0].files.length;
			  document.getElementById("numImg").innerHTML="Hai inserito " + numImages + " foto";
			  if(numImages < 5 || numImages > 5){
				alert('INSERISCI 5 FOTO');
				   $('#ok').prop("disabled",true);
			  }
			  else{
				$('#ok').prop("disabled",false);
			  }
			}
	</script>
</body>
</html>
